
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

:root{
    --brown:#2e2b24;
    --gold:  #EDC270;
}
/*----------Font settings-------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
    text-decoration: none;
}
p {
    text-transform: none;
}
/*--------------GENERAL (for all pages)------------------*/
.home-btn{
    display: inline-block;
    padding: .8rem 3rem;
    border:.2rem solid var(--brown);
    color:var(--brown);
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
    text-decoration: none;
}

/*------Navigation bar---------*/
nav{
    background-color: #140f04;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    font-family: 'PT Serif', serif;
    text-decoration: none;
}
nav a{
    color: #fff;
}
nav a:hover{
    color: #EDC270;
}
 .logo img{
    width: 90px;
    margin-left: 10px;
}
.menu{
    padding-left: 20px;
    display: flex;
    align-items: center;
    list-style: none;
}
.menu li{
    padding: 15px 10px;
    font-size: 16px;
}
.toogle{
    font-size: 30px;
    display: none;
}
.mainlogo img{
    height: 50%; 
    display: inline-block;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    opacity: 0.2;
    position: absolute;
}

/*-----------------Input fields-----------------*/
input {
    display:block;
    width:30%;
    margin:10px 0;
    padding:10px;
    border-radius:10px;
    border: 1px solid #eee;
    transition: .3s border-color;
  }
  input:hover {
    border: 1px solid #aaa;
  }
  .submit-input {
    border-color: #898484;
  }
/*-------------------HOME page-------------------*/

#home {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    position: relative;
  }
  
  #home .content h1 {
    font-size:3.5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    text-shadow: .1rem .1rem .3rem #333;
    color: var(--gold);
  }
  
  #home .content h2 {
    font-size: 2.5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    text-shadow: .1rem .1rem .3rem #333;
    color: #fff;
    margin: 1rem 0;
  }
  
  #home .content p {
    font-size: 1.4rem;
    color: #ccc;
  }
  
  #home .content button {
    outline: none;
    border: none;
    border-radius: 5rem;
    color: #333;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: .2rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 3.5rem;
    width: 14rem;
    background: #fff;
  }
  
  #home .content button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: var(--gold);
    height: 100%;
    width: 0%;
    -webkit-transition: .2s;
    transition: .2s;
    z-index: -1;
  }
  
  #home .content button:hover::before {
    width: 100%;
  }
  
  #home .video-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
  }
  
  #home .video-container .vid {
    position: absolute;
    height: 100vh;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    display: none;
  }
  
  #home .video-container .vid1 {
    display: block;
  }
  
  #home .controls {
    position: absolute;
    bottom: 14%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  #home .controls .dots {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    background: var(--gold);
    margin: 0 1rem;
  }
  
  #home .controls .dots:hover {
    background: #fff;
  }
  
/*-----------ABOUT page------------*/
.about-section{
    width: 100%;
    min-height: 100vh;
    background-color: white;
}
.container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}
.content-section{
    float: left;
    width: 55%;
}
.image-section{
    float:right;
    width: 40%;
}
.image-section img{
    width:  100%;
    height:auto;
}
.content-section .title{
    text-transform: uppercase;
    font-size: 28px;
}
.content-section .content p{
    margin-top: 10px;
    font-size: 18px;
}
.content-section .social{
    margin: 30px 30px;
}
.content-section .social i{
    color:#140f04;
    font-size: 30px;
    padding: 0px 10px;
}
.content-section .social i:hover{
    color:#EDC270;

}
@media screen and (max-width:768px){
    .container{
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }
    .content-section{
        float: none;
        width:100%;
        display: block;
        margin: auto;

    }
    .image-section{
        float: none;
        width: 100%;
    }
    .image-section img{
        width: 100%;
        height: auto;
        display:block;
        margin: auto;
    }
    .content-section .social{
        text-align: center;
    }
}
/* -------------- MENU PAGE -------------- */
.card:hover{
    box-shadow: 20px 20px 80px -44px #000;
    transition: .5s ease-in-out;
    cursor: pointer;
}

/* **************** End MENU PAGE **************** */