{% extends 'restaurant/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}

    <body>
        <section id="home" class="container-fluid">
            <div class="row min-vh-100 align-items-center">
                <div class="col-md-8 text-md-left text-center content">
                    <h1>Welcome to the Restaurant</h1>
                    <h2>food with love for you</h2>
                    <p>Whether you're looking for a romantic dinner for two or a casual night out with friends, 
                        we invite you to come in and enjoy the delicious flavors and warm ambiance of our restaurant.
                    </p>
                    <a href="/restaurant/main-menu/"><button class>explore Menu</button></a>
                </div>
            </div>
            <div class="video-container">
                <video src="{% static 'images/vid1.mp4''%}" autoplay loop class="vid vid1" muted="false"></video>
                <video src="{% static 'images/vid2.mp4''%}" autoplay loop class="vid vid2" muted="false"></video>
                <video src="{% static 'images/vid3.mp4''%}" autoplay loop class="vid vid3" muted="false"></video>
            </div>
            <div class="controls">
                <div class="dots dot1"></div>
                <div class="dots dot2"></div>
                <div class="dots dot3"></div>
            </div>
            
        </section>

</body>
{% endblock %}

