{% extends 'restaurant/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
<h1>Login to Rango</h1>
<form id="login_form" method="post" action="{% url 'rango:login' %}" class="form-container">
    {% csrf_token %}
    Username: <input type="text" name="username" value="" size="50" placeholder="Username"/>
    <br />
    Password: <input type="password" name="password" value="" size="50"  placeholder="Password"/>
    <br />
    <input type="submit" value="Log In" class="submit-input"/>
</form>
{% endblock %}