{% extends 'restaurant/base.html' %}

{% block title_block %}
    {% if menu %}
            {{ menu.menuID }}
        {% else %}
            Unknown Menu
        {% endif %}
{% endblock %}

{% block body_block %}
    {% if menu %}
    <div class = "container mt-2">
        <h1 class = "text-center font-weight-normal">{{ menu.menuID }}</h1>
    </div>
    {% if menuItems %}>
    <div class = "container mt-2 d-flex mb-5">
        <div class = "row">
            {% for item in menuItems %}
            <div class="col-lg-4 d-flex align-items-stretch mb-5">
                <div class = "card">
                    {% if item.photo %}
                    <img src="{{ item.photo.url }}" alt="{{ item.menuItemID }} photo" class="card-img-top w-100">
                    {% endif %}
                    <div class="card-body">
                        <h2 class="card-title">{{item.menuItemID}}</h2>
                        <div class = "d-flex justify-content-between">
                            <p class="card-text">{{item.description}}</p>
                            <p class="card-text mr-2 text-success">£{{item.price}}</p>
                        </div>
                    </div>
                    <a href="#" class="btn btn-dark" >Add to Card</a>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>

    {% else %}
        <strong>No items currently in menu.</strong>
    {% endif %}
    {% if user.is_authenticated %}
        <a href="{% url 'restaurant:add_menu_item' menu.slug %}">Add a Menu Item</a> <br />     
    {% endif %}
    {% else %}
    <strong>The specified menu does not exist.</strong>
    {% endif %}
{% endblock %}
