{% extends 'restaurant/base.html' %}
{% load staticfiles %}

{% block title_block %}
     Register
 {% endblock %}

{%block body_block %}

{% if user_form.errors %}
{{user_form.errors.as_p}}
{%endif%}

    <h1>Register</h1>
    <br/>
    {% if registered %}
        Rango says: <strong>thank you for registering!</strong> <br />
        <a href="{% url 'restaurant:index' %}">Return to the homepage.</a>
<br />
     {% else %}
         <form id="user_form" method="post" action="{% url 'restaurant:register' %}" enctype="multipart/form-data">

        {% csrf_token %}
        <!-- Display each form -->
        {{ user_form.as_p }}
        {{ profile_form.as_p }}

<br/>
        <input type="submit" name="submit" value="Register" class="submit-input"/>
    </form>


    
{% endif %}
{% endblock %}